extends layout

block content
  h1= title
  form(id="frmScheduleProfile", method="post", action="")
    div
      label(for="department") Department
      select(type="text",id="department", name="department")
        option(value="MAIT") MAIT
    div
      label(for="branch") Branch
      select(type="text",id="branch", name="branch")
        option(value="CSE") CSE
        option(value="ECE") ECE
        option(value="EEE") EEE
        option(value="ME") ME
        option(value="CE") CE
        
    div
      label(for="semester") Semester
      select(type="number",id="semester", name="semester")
        
        option(value=1) ONE
        //option(value=2) TWO
        option(value=3) THREE
        //option(value=4) FOUR
        option(value=5) FIVE
        
    div
      label(for="group") Group
      select(type="number",id="group", name="group")
        option(value=) ALL
        option(value=1) ONE
        option(value=2) TWO
        option(value=3) THREE
        
        
    div 
      label(for="subjectName") Subject Name
      select(type="text",id="subjectName", name="subjectName")
         each subject in subjects
          option(value='#{subject.subject_name}')= subject.subject_name
          
    div 
      label(for="classType") Class Type
      select(type="text",id="classType", name="classType")
        option(value="lecture") Lecture
        option(value="labs") Lab
        option(value="practical") Practical
        option(value="exam") Exam
        
      
          
    div 
      label(for="roomNumber") Room Number
      input(type="text", name="roomNumber", id="roomNumber")
      
    div 
      label(for="lecturer") Lecturer
      input(type="text", name="lecturer", id="lecturer")
      
    div
      label(for="day") Day
      select(type="text",id="day", name="day")
         each day in days
          option(value='#{day}')= day
    div
      label(for="slot") Slot
      select(type="number",id="slot", name="slot")
         each slot in [1,2,3,4,5,6,7,8]
          option(value='#{slot}')= slot
        
        input(type="submit", value="#{buttonText}")
